/* Tab content - closed */
.tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    float: right;
    right: 0;
    top: 0;
    display: block;
    width: 1.15em;
    height: 1.15em;
    line-height: 1.1;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight: bold;
    /*.font-bold*/
    border-width: 2px;
    /*.border*/
    border-radius: 9999px;
    /*.rounded-full */
    border-color: #b8c2cc;
    /*.border-grey*/
}

/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    /* background-color: #6574cd; */
    /*.bg-indigo*/
    color: white;
    /*.text-grey-lightest*/
}

.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    /* background-color: #6574cd; */
    /*.bg-indigo*/
    color: white;
    /*.text-grey-lightest*/
}
